{{ $webringJSON := getJSON . }}
{{ $selfIndex := 0 }}
{{ $rangeIndex := 0 }}
{{ range $webringJSON.ring }}
  {{ $rangeIndex = add $rangeIndex 1}}
  {{ if in site.BaseURL .link }}
      {{ $selfIndex = $rangeIndex}}
  {{ end }}
{{ end }}

<div class="buttonRow">
  {{ with index $webringJSON.ring (sub $selfIndex 1) }}
  <a href="{{ .link }}" class="button">
      <span class="button__icon">←</span>
      <span class="button__text">{{ .name }}</span>
  </a>
  {{ end }}
  {{ with index $webringJSON.ring (add $selfIndex 1) }}
  <a href="{{ .link }}" class="button">
      <span class="button__text">{{ .name }}</span>
      <span class="button__icon">→<span>
  </a>
  {{ end }}
</div>
