{{ $webringJSON := getJSON . }}
{{ $selfIndex := 0 }}
{{ $rangeIndex := 0 }}
{{ range $webringJSON }}
  {{ rangeIndex += 1}}
  {{ if in .link $.Site.BaseURL }}
      {{ $selfIndex = $rangeIndex}}
  {{ end }}
{{ end }}

<div class="buttonRow">
  <a href="" class="button">
      <span class="button__icon">←</span>
      <span class="button__text">Previous Webring Site</span>
  </a>
  <a href="" class="button">
      <span class="button__text">Next Webring Site</span>
      <span class="button__icon">→<span>
  </a>
</div>
